<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron">
    <div style="text-align:center">
      <h1>
        {{ userName }} welcome to {{ title }}!
      </h1>
    </div>
  </div>
  <form>
    <input [(ngModel)]="userName" type="text" name="user">
  </form>
  <app-recipe-list [childRecipeList]="masterRecipies" (clickSender)="editRecipe($event)"></app-recipe-list>
  <app-edit-recipe [childSelectedRecipe]="selectedRecipe" (clickedDone)="finishedEditing()" ></app-edit-recipe>
  <app-new-recipe></app-new-recipe>
</div>
